<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The anime shop</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/minty/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <style>
    h1,
    h3 {
      text-align: center;
    }

    h1 {
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px #f3908d, 0 0 10px pink;
    }

    .search {
      position: absolute;
      right: 0;
      top: 0;
      margin: 15px;
      padding: 0;
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      background: white;
    }

    .post-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 10px;
    }

    .add-to-cart {
      margin-left: 1px;
    }

    .product {
      padding: 10px;
    }

    .product-image {
      float: left;

      margin-right: 10px;
    }

    .product-price {
      display: inline;
    }

    .product-description,
    .comment-form {
      margin-top: 1%;
    }

    .posted-comment {
      width: 100%;
      word-wrap: break-word;
      padding: 10%;
    }

    .column {
      float: left;
      width: 25%;
      padding: 0 10px;
    }

    .cards {
      max-width: 1200px;
      margin: 35px;
      display: grid;
      grid-gap: 50px;
    }

    button {
      border-radius: 15%;
      border: none;
    }
  </style>

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" style="text-decoration: none">The anime shop</a>
  </div>
  </h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <input type="button" value="Login" class="btn btn-secondary my-2 my-sm-0" onclick="location.href = '/login';">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Shop</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/">Home</a>
              <a class="dropdown-item" href="/category/1">Apparel</a>
              <a class="dropdown-item" href="/category/2">Stickers</a>
              <a class="dropdown-item" href="/category/3">Prints</a>
              <a class="dropdown-item" href="/category/4">Enamel Pins</a>
            </div>
          </li>
        </ul>
      </div>
      <button id="logout" type="submit" class="btn btn-light my-2 my-sm-0">Logout</button>

    </div>
  </nav>
  </header>

  <main>
    <div>
      {{{ body }}}
    </div>
  </main>
  </div>

  <div>
    <footer>
      All products listed on this site are property of <a href="https://www.sajustreetwear.com/">Saju.Studios</a>
    </footer>
  </div>

  <script src="javascript/logout.js"></script>

</body>

</html>