<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Storefront</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        ANIME!!!!!!
      </h1>
      <nav>
        <h2>
          <a href="/">Home</a>
        </h2>
        <h2>
          <a href="/cart">Cart</a>
        </h2>
        <h2>
          <a href="/category/1">Apparel</a>
        </h2>
        <h2>
          <a href="/category/4">Enamel Pins</a>
        </h2>
        <h2>
          <a href="/category/3">Prints</a>
        </h2>
        <h2>
          <a href="/category/2">Stickers</a>
        </h2>
        <h2>
          <a href="/category/5">Misc</a>
        </h2>
        <h2>
        <button id="logout" type="submit" class="btn-no-style">Logout</button>
        </h2>
        <h2>
        <a href="/login">Login</a>
        </h2>
     </nav>
    </header>
    
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}  
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>