<main>
    <div>
        {{!-- view cart right justified --}}
    </div>

    {{!-- cart icon?? --}}
    <div>
        {{!-- cart dropdown --}}
        <div class="shopping-cart">
            <div class="shopping-cart-header">
                <i class="shopping-cart-icon"></i>Cart<span class="badge">QUANTITY OF CART</span>
                <div class="cart-total">
                    {{!-- label for total of cart --}}
                    <span>Total:</span>
                    {{!-- total of cart calculated --}}
                    <span>$TotalOfCart</span>
                </div>
            </div>
            {{!-- the li repeats per item in cart --}}
            <ul class="cart-items">
                <li>
                    <img src="https://via.placeholder.com/50

C/O https://placeholder.com/#How_To_Set_Image_Size" alt="">
                    <span class="item-name">ITEM NAME</span>
                    <span class="item-detail">ITEM DETAIL</span>
                    <span class="price">PRICE</span>
                    <span class="item-quantity">QUANTITY</span>
                </li>
            </ul>
        </div>
    </div>


    {{!-- Shopping Basket --}}
    <div class="basket">
        <div class="basket-header">
            <ul>
                <li class="item">Item</li>
                <li class="price">Price</li>
                <li class="quantity">Quantity</li>
                <li class="subtotal">Subtotal</li>
            </ul>
        </div>

        <div class="basket-product">
            <div class="item">
                <div class="product-image">
                    <img src="https://via.placeholder.com/150

C/O https://placeholder.com/#How_To_Set_Image_Size" alt="">
                </div>
                <div class="product-details">
                    <h1><span class="item-quantity">4</span></h1>
                </div>
            </div>
        </div>

    </div>



</main>