<ol class="post-list">
  {{#each category.products}}
  <li class="each-item">
    <article class="post">
      <div class="title">
        <a href="/product/{{id}}" target="_blank">{{product_name}}</a>
        <p class="content"> ${{price}} </p>
        <img class="images" src="{{img_url}} width="300" height="400"">
      </div>
    </article>
  </li>
  {{/each}}
</ol>

